* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(189, 156, 202);
    height: 200px;
    text-align: center;
    font-family: aaargh, Arial, Helvetica, sans-serif;
    h1 {
        font-size: 50px;
        letter-spacing: 6px;
        text-shadow: 2px 2px 2px rgb(28, 6, 28);
    }
    h2 {
        font-size: 20px;
        letter-spacing: 4px;
    }
}

nav {
    height: 3em;
    background-color: lighten(rgb(189, 156, 202), 10%);
    text-align: center;
    li {
        display: inline-block;
        padding: 10px 30px 0px 0px;
    }
    a {
        text-decoration: none;
        color: black;
        background-color: darken(rgb(189, 156, 202), 10%);
        border-radius: 2em;
        padding: 0.5em;
    }
    a:hover {
        background-color: palevioletred;
    }
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
    max-width: 900px;
    height: 400px;
    margin: auto;
    &-aside {
        border: 0.2em solid black;
    }
}

footer {
    background-color: rgb(189, 156, 202);
    height: 40px;
    letter-spacing: 2px;
    margin-top: 1em;
    padding-top: 0.4em;
    text-align: center;
}




