body {
  background-color: #BBADFF;
  font-family: "Libre Baskerville", "Times New Roman";
}
@media screen and (max-width: 1800px) {
  body {
    max-width: 1800px;
  }
}
@media screen and (max-width: 770px) {
  body {
    padding: 0% 10%;
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  font-family: "Libre Baskerville", "Times New Roman";
  font-size: 20px;
}

h1 {
  color: #000000;
  font-family: Labrada, "Times New Roman";
}

p {
  font-size: 20px;
  color: #000000;
  font-family: "Libre Baskerville", "Times New Roman";
  text-align: center;
}
@media screen and (max-width: 770px) {
  p {
    font-size: 14px;
  }
}

h2 {
  font-size: 30px;
  letter-spacing: 4px;
  margin-bottom: 4%;
}
@media screen and (max-width: 770px) {
  h2 {
    font-size: 26px;
    margin: 0px;
  }
}

main {
  margin-top: 12vh;
  margin-bottom: 5vh;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100%;
  position: sticky;
  top: 0%;
  background-color: #BBADFF;
  z-index: 3;
  opacity: 0.98;
}
@media screen and (max-width: 770px) {
  nav {
    width: 100%;
    height: auto;
    background-color: #BBADFF;
    opacity: 1;
  }
}

.nav-menu {
  display: none;
  transform: scale(1);
}
.nav-menu:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media screen and (max-width: 770px) {
  .nav-menu {
    border: solid 2px #DAB6FC;
    box-shadow: 10px 0px 40px #a854f8;
    background-color: #DAB6FC;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    height: auto;
    width: 50%;
    height: 50px;
    z-index: 4;
  }
}

.nav-menu h2 {
  text-align: center;
  margin: auto;
  width: auto;
  z-index: 4;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 770px) {
  .nav-link {
    display: none;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #BBADFF;
  }
}

.link-choose {
  box-shadow: 10px 0px 40px #a854f8;
  border: none;
  border-radius: 30px;
  background-color: #DAB6FC;
  flex-wrap: wrap;
  margin: 4% 1%;
  padding: 0.5em 1.4em;
  transform: scale(1);
}
@media screen and (max-width: 770px) {
  .link-choose {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 10px;
    margin: 4px auto;
    padding: 0.2em 0.5em;
    background-color: #DAB6FC;
  }
}
.link-choose:hover {
  cursor: pointer;
  background-color: #d0a2fb;
  box-shadow: 10px 0px 40px white;
  transform: scale(1.1);
}

.link-choose a {
  text-decoration: none;
}

header {
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
}

header h1 {
  font-size: 10em;
}
@media screen and (max-width: 950px) {
  header h1 {
    font-size: 4em;
  }
}
@media screen and (max-width: 770px) {
  header h1 {
    font-size: 2em;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100vh;
}

.about h2 {
  text-align: center;
}

.about p {
  text-align: center;
}

.about-a {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 80%;
  max-width: 900px;
  height: 400px;
  margin: auto;
}
.wrapper-aside {
  border: 0.2em solid black;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5vh;
  height: 100vh;
  width: 98%;
}
@media screen and (max-width: 770px) {
  .skills {
    width: 100%;
    padding: 0vh;
    margin-right: 0%;
    margin-left: 0%;
  }
}

.skills-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  box-shadow: 10px 0px 40px #a854f8;
}
@media screen and (max-width: 770px) {
  .skills-content {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 100%;
  }
}

.skills-column {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 95%;
  margin: 0 auto 0 auto;
  padding: 2%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.progress {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 100%;
  background-color: #000000;
  margin-top: 2%;
}

.progress-bar {
  height: 20px;
  background-color: #B5446E;
}

.progress-container {
  position: relative;
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
}

.progress-value .progress-badge {
  color: #000000;
  font-size: 1.25em;
}

.progress-badge {
  margin-left: 2%;
}

.progress-value {
  position: absolute;
  right: 2%;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  height: 100vh;
  width: 100%;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  /*display: flex;
  flex-direction: row;*/
  justify-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 770px) {
  .project {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
  }
}

.projet-container {
  margin-bottom: 10px;
  transform: scale(1);
}
.projet-container:hover {
  transform: scale(1.1);
}

.project-title {
  margin: 0%;
  height: auto;
  font-size: 20px;
  margin: 2px;
  text-align: center;
}

.container-image {
  width: 100%;
  height: 19vh;
  border: 1px #B5446E solid;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-decoration: none;
}

.contact-button {
  text-decoration: none;
  border: none;
  color: #000000;
  box-shadow: 10px 0px 40px #a854f8;
  border-radius: 30px;
  background-color: #DAB6FC;
  padding: 30px;
  transform: scale(1);
}
.contact-button:hover {
  cursor: pointer;
  background-color: #d0a2fb;
  box-shadow: 10px 0px 40px white;
  transform: scale(1.1);
}

.contact-button a {
  text-decoration: none;
}

footer {
  background-color: #BBADFF;
  height: 5vh;
  width: 100%;
  letter-spacing: 2px;
  margin-top: 1em;
  padding-top: 0.4em;
  position: sticky;
  bottom: 0px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */