//Utils
@import "./Utils/responsives";
@import "./Utils/keyframes";
@import "./Utils/colors";
@import "./Utils/font-family";

//Layouts
@import "./Layouts/body";
@import "./Layouts/footer";
@import "./Layouts/nav";

//main
main {
    background-size: cover;
    height: 83vh;
    margin: 0%;
}
