@import "./Utils/responsives";
@import "./Utils/keyframes";
@import "./Utils/colors";
@import "./Utils/font-family";

@import "./Layouts/body";
@import "./Layouts/footer";

/*@import "./Layouts/loader";*/


//css main page


//main

main {
    margin-top: 12vh;
    margin-bottom: 5vh;
}


//nav
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100%;
    position: sticky;
    top: 0%;
    background-color: $color-back-section;
    z-index: 3;
    opacity: 0.98;
    @include mobile-only {
        width: 100%;
        height: auto;
        background-color: $color-back-section;
        opacity: 1;
    }
}

.nav-menu {
    display: none;
    transform: scale(1);
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    @include mobile-only {
        border: solid 2px $color-secondary;
        box-shadow: 0px 0px 40px darken($color-secondary, 20);
        background-color: $color-secondary;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        height: auto;
        width: 50%;
        height: 50px;
        z-index: 4;  
    } 
}
.nav-menu h2 {
    text-align: center;
    margin: auto;
    width: auto;
    z-index: 4;
}
.nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include mobile-only {
        display: none;
        flex-direction: column;
        height: auto;
        width: 100%;
        background-color: $color-primary;
    }
}
.link-choose {
    box-shadow: 0px 0px 40px darken($color-secondary, 20);
    border: none;
    border-radius: 10px;
    background-color: $color-secondary;
    flex-wrap: wrap;
    margin: 4% 2%;
    padding: 0.8em 1.4em;
    transform: scale(1);
    @include mobile-only {
        display: flex;
        flex-direction: column;
        width: 60%;
        border-radius: 0px;
        font-size: 10px;
        margin: 0px auto;
        padding: 0.6em 0.50em;
        background-color: $color-secondary;
    }
    &:hover {
        cursor: pointer;
        outline: 2px solid $color-secondary;
        outline-offset: 0.2em;
        background-color: darken($color-secondary, 4);
        box-shadow: 0px 0px 40px lighten($color-secondary, 20);
        transform: scale(1.01);
    }
}
.link-choose a {
    text-decoration: none;
}
//header
header 
  {
    background-size: cover;
    height: 100vh;
    margin: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
  }

  header h1 {
    font-size: 8em;
    background-color: $color-back;
    @include tablette-only {
        font-size: 4em;
    }
    @include mobile-only {
        font-size: 2em;
    }
  }

  header p {
    background-color: $color-back;
  }
//présentation
.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5% auto 5% auto;
    scroll-margin-top: 10vh;
    width: 80%;
    height: 90%;
    
    
}
.about h2 {
    text-align: center;
    justify-content: center;
    background-color: $color-back;
}
.about p {
    text-align: center;
    background-color: $color-back;
}
.about-a {
text-align: center;
background-color: $color-back;
}
      
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
    max-width: 900px;
    height: 400px;
    margin: auto;
    &-aside {
        border: 0.2em solid black;
    }
}

//compétences

.skills {
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    padding: 2%;
    height: 70%;
    width: 70%;
    margin: 15% auto 15% auto;
    scroll-margin-top: 10vh;
    @include mobile-only {
        width: 80%;
        padding: 0vh;
        margin-right: auto;
        margin-left: auto;
    }
}

.skills h2 {
    background-color: $color-back;
}

.skills-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    box-shadow: 0px 0px 40px darken($color-secondary, 20);
    background-color: $color-back;
    @include tablette-only {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        width: 100%;
    }
}
.skills-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 2%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.progress {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100%;
    background-color: $color-font;
    margin-top: 2%;
}
.progress-bar {
    height: 20px;
    background-color: $color-tercery;
}
.progress-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    font-size: 20px;

}
.progress-value .progress-badge {
    color: $color-font;
    font-size: 1.25em;
}
.progress-badge {
   margin-left: 2%;
}
.progress-value {
    position: absolute;
    right: 2%;

}

//portfolio

.portfolio {
     
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    margin: 5% auto 5% auto;
    height: 90%;
    width: 100%;
    scroll-margin-top: 10vh;
    @include mobile-only {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
}

.portfolio h2 {
    background-color: $color-back;
}
.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
    @include mobile-only {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}

.projet-container {
    width: 25%;
    height: auto;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $color-back;
    border: solid 4px $color-secondary;
    box-shadow: 0px 0px 20px darken($color-secondary, 30);
    object-fit: cover;
    &:hover {
        cursor: pointer;
        outline: 2px solid $color-secondary;
       @include select--portfolio;
    }
    @include tablette-only{
        width: 80%;
    }
    @include mobile-only {
        width: 100%;
        margin: 4% auto;
    }  
}
.project-title {
    margin: 0%;
    margin-bottom: 20px;
    height: auto;
    font-size: 20px;
    text-align: center;
}
.container-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container-image img{
    height: 100%;
    width: 100%;
    object-position: top;
}
//contact
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin: 10% auto 0 auto;
    scroll-margin-top: 10vh;
    text-decoration: none;
  
}

.contact h2 {
    background-color: $color-back;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include tablette-only{
        display: flex;
        flex-direction: column;
    }
}
.contact-button {
    width: 16em;
    text-decoration: none;
    border: none;
    color: $color-font;
    box-shadow: 0px 0px 40px darken($color-secondary, 20);
    border-radius: 10px;
    background-color: $color-secondary;
    padding: 30px;
    margin: 2em 2em;
    transform: scale(1);
    &:hover, :focus {
        cursor: pointer;
        outline: 2px solid $color-secondary;
        outline-offset: 0.2em;
        background-color: darken($color-secondary, 4);
        box-shadow: 0px 0px 40px lighten($color-secondary, 20);
        transform: scale(1.01);
    }
}

.contact-button a {
    text-decoration: none;
}