@import "./Utils/responsives";

//colors

$color-primary : rgb(187, 173, 255);
$color-secondary : #DAB6FC;
$color-tercery : #B5446E;
$color-back : rgb(228, 214, 255, 0.6);
$color-back-section : lighten(rgb(187, 173, 255, 0.8), 4);
$color-font : #000000;

//font
$font-title : Labrada, 'Times New Roman';
$font-text : 'Libre Baskerville', 'Times New Roman';


//css main page

//body
body {
background-image: url(../media/code\ binaire.png);
background-attachment: fixed;
font-family: $font-text;
padding: 0%;
@include max-only {
    max-width: 1800px;
}
@include mobile-only {
    padding: 0% 0%;
}
}


a {
    color: $color-font;
    font-family: $font-text;
    font-size: 1.30em;
}
h1 
{
  color: $color-font;
  font-family: $font-title;
}
p 
{
  font-size: 1.25em;
  color: $color-font;
  font-family: $font-text;
  text-align: center;
  @include mobile-only {
    font-size: 14px;
  }
}
h2 
{
    font-size: 1.875em;
    letter-spacing: 0.25em;
    margin-bottom: 4%;
    @include mobile-only {
        font-size: 26px;
        margin: 0px;
    }
}

//main

main {
    margin-top: 12vh;
    margin-bottom: 5vh;
}


//nav
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100%;
    position: sticky;
    top: 0%;
    background-color: $color-back-section;
    z-index: 3;
    opacity: 0.98;
    @include mobile-only {
        width: 100%;
        height: auto;
        background-color: $color-primary;
        opacity: 1;
    }
}

.nav-menu {
    display: none;
    transform: scale(1);
    &:hover {
    cursor: pointer;
    transform: scale(1.1);
    }
    @include mobile-only {
        border: solid 2px $color-secondary;
        box-shadow: 10px 0px 40px darken($color-secondary, 20);
        background-color: $color-secondary;
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        height: auto;
        width: 50%;
        height: 50px;
        z-index: 4;  
    } 
}
.nav-menu h2 {
    text-align: center;
    margin: auto;
    width: auto;
    z-index: 4;
}
.nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include mobile-only {
        display: none;
        flex-direction: column;
        height: auto;
        width: 100%;
        background-color: $color-primary;
    }
}
.link-choose {
    box-shadow: 10px 0px 40px darken($color-secondary, 20);
    border: none;
    border-radius: 30px;
    background-color: $color-secondary;
    flex-wrap: wrap;
    margin: 4% 1%;
    padding: 0.5em 1.4em;
    transform: scale(1);
    @include mobile-only {
        display: flex;
        flex-direction: column;
        width: 60%;
        font-size: 10px;
        margin: 4px auto;
        padding: 0.2em 0.50em;
        background-color: $color-secondary;
    }
    &:hover {
        cursor: pointer;
        background-color: darken($color-secondary, 4);
        box-shadow: 10px 0px 40px lighten($color-secondary, 20);
        transform: scale(1.1);
    }
}
.link-choose a {
    text-decoration: none;
}

//header
header 
  {
    background-size: cover;
    height: 88vh;
	display: flex;
	align-items: center;
	justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
  }

  header h1 {
    font-size: 8em;
    background-color: $color-back;
    @include tablette-only {
        font-size: 4em;
    }
    @include mobile-only {
        font-size: 2em;
    }
  }
//présentation
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100vh;
    
}
    .about h2 {
        text-align: center;
        background-color: $color-back;
    }
    .about p {
        text-align: center;
        background-color: $color-back;
    }
    .about-a {
    text-align: center;
    background-color: $color-back;
    }
      
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
    max-width: 900px;
    height: 400px;
    margin: auto;
    &-aside {
        border: 0.2em solid black;
    }
}

//compétences

.skills {
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5vh;
    height: 100vh;
    width: 98%;
    @include mobile-only {
        width: 80%;
        padding: 0vh;
        margin-right: auto;
        margin-left: auto;
    }
}

.skills h2 {
    background-color: $color-back;
}

.skills-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    box-shadow: 10px 0px 40px darken($color-secondary, 20);
    background-color: $color-back;
    @include mobile-only {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        width: 100%;
    }
}
.skills-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 2%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.progress {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100%;
    background-color: $color-font;
    margin-top: 2%;
}
.progress-bar {
    height: 20px;
    background-color: $color-tercery;
}
.progress-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    font-size: 20px;

}
.progress-value .progress-badge {
    color: $color-font;
    font-size: 1.25em;
}
.progress-badge {
   margin-left: 2%;
}
.progress-value {
    position: absolute;
    right: 2%;

}

//portfolio

.portfolio {
     
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-bottom: 0;
    height: auto;
    width: 100%;
    @include mobile-only {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    justify-items: center;
    width: 60%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
    @include mobile-only {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%; 
    }
}

.projet-container {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    transform: scale(1);
    background-color: $color-secondary;
    border: solid 2px $color-secondary;
    box-shadow: 0px 0px 20px darken($color-secondary, 30);
    &:hover {
        transform: scale(1.04);
    }
}
.project-title {
    margin: 0%;
    margin-bottom: 20px;
    height: auto;
    font-size: 20px;
    text-align: center;
}
.container-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
//contact
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-decoration: none;
}
.contact-button {
    text-decoration: none;
    border: none;
    color: $color-font;
    box-shadow: 10px 0px 40px darken($color-secondary, 20);
    border-radius: 30px;
    background-color: $color-secondary;
    padding: 30px;
    transform: scale(1);
    &:hover {
        cursor: pointer;
        background-color: darken($color-secondary, 4);
        box-shadow: 10px 0px 40px lighten($color-secondary, 20);
        transform: scale(1.1);
    }
}

.contact-button a {
    text-decoration: none;
}

//footer
footer {
    background-color: $color-back-section;
    height: 5vh;
    width: 100%;
    letter-spacing: 2px;
    margin-top: 1em;
    padding-top: 0.4em;
    position: sticky;
    bottom: 0px;
    text-align: center;
}