//body
body {
    background-image: url(../media/codebinaire.png);
    background-attachment: fixed;
    font-family: $font-text;
    padding: 0%;
    width: 100%;
    @include max-only {
        max-width: 1800px;
        max-height: 1000px;
       margin: auto;
    }
    @include mobile-only {
        padding: 0% 0%;
    }
}

a {
    color: $color-font;
    font-family: $font-text;
    font-size: 1.30em;
}
h1 
{
  color: $color-font;
  font-family: $font-title;
}
p 
{
  font-size: 1.30em;
  color: $color-font;
  font-family: $font-text;
  text-align: center;
  @include mobile-only {
    font-size: 14px;
  }
}
h2,h3
{
    font-size: 2.2em;
    letter-spacing: 0.25em;
    margin-bottom: 4%;
    @include mobile-only {
        font-size: 26px;
        margin: 0px;
    }
}