//footer
footer {
    background-color: $color-back-section;
    height: 4%;
    width: 100%;
    letter-spacing: 2px;
    margin-top: 1em;
    padding-top: 0.4em;
    position: sticky;
    bottom: 0px;
    text-align: center;
    align-items: center;
}
footer p {
    height: 100%;
    margin: auto 0 auto 0;
}