//colors

$color-primary : rgb(187, 173, 255);
$color-secondary : rgb(218, 181, 252);
$color-tercery : rgb(181, 68, 110);
$color-back : rgb(228, 214, 255, 0.9);
$color-back-bis: rgb(181, 68, 110, 0.7);
$color-back-section : lighten(rgb(187, 173, 255, 0.8), 4);
$color-font : #000000;
