//animation

//animation open page
@keyframes open-screen {
    from {
        filter: blur(200px);
    }
    to {
        filter: blur(0px);
    }
    }
    
    @mixin open_screen-anim {
        animation: open-screen 2s forwards;
    }
    //hover items
    @keyframes select-items {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.2);
        }
    }
    
    @keyframes hover-object {
      0% {
        transform: scale(1);
        box-shadow: none;
      }
      100% {
        transform: scale(1.02);
        box-shadow: 0px 0px 40px lighten(#DAB6FC, 10);
      }
    }

    @mixin select--portfolio {
        animation: hover-object 0.6s forwards;
    }